includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: 8
	paths:
		- idrivee2-media-upload.php
		- includes/
	bootstrapFiles:
		- tests/bootstrap.php
	scanDirectories:
		- vendor/
	ignoreErrors:
		# WordPress uses global variables extensively
		- '#Variable \$wp_filesystem might not be defined\.#'
		# Allow dynamic properties in WordPress
		- '#Access to an undefined property#'
	excludePaths:
		- vendor/
		- tests/
