includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: 8
	paths:
		- idrivee2-media-upload.php
		- includes/
	bootstrapFiles:
		- tests/bootstrap.php
	scanDirectories:
		- vendor/
	excludePaths:
		- vendor/
		- tests/
